bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket/paket.exe
/Aardvark.log
/src/*.opendb
/src/*.db
.idea/
*.user
.paket/
**/.DS_Store
src/PhysXNative/*.o
src/PhysXNative/*.dylib
.ionide
Aardvark.log
**/.vs/
*.pdb
*.tlog
src/PhysXNative/Debug
src/PhysXNative/Release
src/PhysXNative/build
/.vcpkg
/.vscode/*.log
/libs